################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/*.vshost.exe
**/*.vshost.exe.config
**/*.vshost.exe.manifest

/build
/releases

/src/*/bin
/src/*/obj
